<ion-header>
  <ion-toolbar>
 
    <ion-item color="secondary" > 
      <ion-icon  slot="start" style="zoom:1.5;" name="person-outline"></ion-icon><h3>Edit Profile Details</h3></ion-item>
    <ion-icon name="power-outline" (click)="signout()" slot="end" style="zoom:2.0;"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="login-logo" *ngFor="let note of (user|async)">
    <img src="{{note.imageurl}}" class="logo_icon">



  </div>
  <ion-card>
  <div style="text-align: center;">
   
    <input type="file" (change)="showPreview($event)" >
    <ion-button  color="tertiary" shape="round" (click)="save()" [class.button-disabled]="choose()" >Change Profile Picture</ion-button>
  </div>

</ion-card>
  <div style="text-align: center;">
<ion-card>
    <ion-list *ngFor="let note of (user|async)">
      <h4>First Name : {{note.fname}}</h4>
      <h4>Last Name : {{note.lname}}</h4>
      <h4>Phone Number : {{note.pnum}}</h4>

    </ion-list>
<ion-button shape="round" color="tertiary" (click)="gotoEdit()">Update Details</ion-button>
</ion-card>
  </div>



</ion-content>
