<ion-tabs>

  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="my-listing"  (click)="presentLoading()">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home" (click)="presentLoading()">
      <ion-icon name="add-outline"></ion-icon>
      <ion-label>My Listing</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" (click)="presentLoading()">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
