<ion-header>
  <ion-toolbar color="denger">
   
    <ion-item color ="secondary">
      <ion-icon slot="start" style="zoom:1.5;" name="bag-add-outline"></ion-icon>
      <ion-label><h1>Add Items</h1></ion-label>
    </ion-item>
  
   

   

    <ion-icon name="power-outline" (click)="signout()" slot="end" style="zoom:2.0;"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="postcard" class="full-height">

        <ion-list lines="none">
          <ion-item>
            <ion-input placeholder=" Enter Item Name" [(ngModel)]="note.title" class="t1"></ion-input>

          </ion-item>
          <div style="height: 20px;"></div>
          <ion-item>
            <textarea #myInput id="myInput" class="textarea" placeholder="Enter item infrmation" rows="20" maxLength="10000" (keyup)="resize()" [(ngModel)]="note.content" lines="none" ></textarea>

          </ion-item>

        </ion-list>





    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add-circle-outline" (click)="addNote()"></ion-icon>
      </ion-fab-button>
    </ion-fab>



  </ion-content>
